.sidebar {
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding-right: var(--spacing-xs);
}

.sidebar[data-border-side="left"] {
  border-left: 1px solid var(--color-border);
}

.sidebar[data-border-side="right"] {
  border-right: 1px solid var(--color-border);
}

.item {
  cursor: pointer;
  border-left: 1px solid var(--color-border-light);
  padding-left: var(--spacing-xs);
}

.item:hover {
  background: var(--color-hover);
}

.active {
  background: var(--color-gray2);
}

.groupActive {
  background: var(--color-gray2);
  border-left: 2px solid var(--color-primary);
}

.group {
  display: flex;
  flex-direction: column;
}

.groupHeader {
  cursor: pointer;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs);
}

.groupHeader.groupActive button {
  background: var(--color-gray2);
}

.groupChildren {
  display: flex;
  flex-direction: column;
}
