.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: var(--spacing-sm);
  background: var(--color-surface-light);
  border-bottom: none;
}

.bar[data-border-side="top"] {
  border-top: 1px solid var(--color-border);
}

.bar[data-border-side="bottom"] {
  border-bottom: 1px solid var(--color-border);
}

.bar[data-border-side="left"] {
  border-left: 1px solid var(--color-border);
}

.bar[data-border-side="right"] {
  border-right: 1px solid var(--color-border);
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
  height: 100%;
  width: max-content;
  border-bottom: none;
}

/* Sections */
.section {
  display: flex;
  align-items: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.vertical .section {
  flex-direction: column;
}
