.workspaceLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.top,
.bottom {
  height: var(--navigator-size);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-sm);
}

.midOfTopBottom {
  width: 100%;
  height: calc(100% - var(--navigator-height));
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  height: 100%;
  width: var(--navigator-size);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm) 0;
}

.midOfLeftRight {
  height: 100%;
  width: calc(100% - var(--navigator-width));
}

/* Borders */
.top {
  border-bottom: 2px solid var(--color-border-light);
}

.bottom {
  border-top: 2px solid var(--color-border-light);
}

.left {
  border-right: 2px solid var(--color-border-light);
}

.right {
  border-left: 2px solid var(--color-border-light);
}
