.videoUploadContainer {
  width: var(--width);
  min-height: var(--height);
  /* border: 1px solid var(--color-border); */
  border-radius: 5px;
}

.videoUpload {
  width: 100%;
  height: var(--height);
  border: 2px dashed var(--color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: var(--color);
}

.dragging {
  border-color: var(--color-primary);
  background-color: var(--color-gray1);
  color: var(--color);
}

.formControl {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.label {
  color: var(--color-gray4);
}

.uploadDetails {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.videoSizeIcon {
  display: flex;
  gap: 10px;
}

.error {
  color: var(--color-error);
  text-align: center;
}

.required {
  padding-top: 5px;
  margin: 0 5px;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: end;
}
