.dropdown {
  position: relative;
  width: var(--width);
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border: 1px solid var(--color-border);

  border-radius: var(--radius-md);
  cursor: pointer;
}

.dropdownHeader.open {
  border-color: var(--color);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdownHeader.open.openDown {
  border: 1px solid var(--color);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: var(--radius-md);
  border-top-left-radius: var(--radius-md);
}

.dropdownHeader.open.openUp {
  border: 1px solid var(--color);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
}

.dropdownToggle {
  border: none;
  background: none;
  cursor: pointer;
}
.label {
  font-size: calc(var(--font-size) * 0.8);
  color: var(--color-gray5);
  text-align: left;
  padding-bottom: 3px;
}

.selectedContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.countBox {
  background-color: var(--color-gray2);
  color: var(--color-primary);
  padding: 2px 8px;
  border-radius: var(--radius-md);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
}

.previewText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectedHeader {
  font-size: var(--font-size-xs);
  font-weight: 600;
  margin: 6px 0;
  color: var(--color-gray5);
  text-align: left;
}

.emptyState {
  color: var(--color-gray4);
  font-size: var(--font-size-xs);
}

.dropdownMenu {
  /* position: absolute; */
  width: 100%;
  /* z-index: 1000; */
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--color);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  background: var(--color-background);
  padding-bottom: 10px;
}

.dropdownMenu.openDown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
}

.dropdownMenu.openUp {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: var(--radius-md);
  border-top-left-radius: var(--radius-md);
}

.dropdownOptions {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.searchInput {
  border: none;
  outline: none;
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
  margin: var(--radius-md) 0;
  border-bottom: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

.searchInput:focus {
  color: var(--color);
  font-weight: var(--font-weight-bold);
}

.addNewOption {
  padding: 8px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.addNewOption input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--color);
  padding: 3px 2px;
}

.optionList {
  width: 95%;
  list-style: none;
  /* margin: 10px 0; */
  padding: 0;
}

.optionItem {
  padding: 2px 8px;
  cursor: pointer;
  border: 1px solid var(--color-background);
  text-align: left;
  background: var(--color-surface);

  border-radius: 4px;
}

.optionItem:hover {
  background: var(--color);
  color: var(--color-background);
  opacity: 0.7;
}

.optionItem.selected {
  background: var(--color);
  font-weight: var(--font-weight-bold);
  color: var(--color-background);
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.buttons button {
  height: auto;
}

.required {
  padding-top: var(--radius-md);
  padding-right: 10px;
  margin: 0 var(--radius-md);
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: end;
  width: 100%;
}
