.selectionGroup {
  width: var(--width);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.horizontal {
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.label {
  font-weight: var(--font-weight-bold);
  text-align: left;
  color: var(--color-gray4);
}

.selectionItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  position: relative;
  gap: 0px;
  cursor: default;
}

.labelIcon {
  display: flex;
  gap: 10px;
}
.selectionLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-gray5);
  font-weight: var(--font-weight-bold);
}

.selectionLabel.disabled,
.selectionItem.disabled {
  cursor: not-allowed;
}

.selected {
  color: var(--color);
}

.inlineHelp {
  opacity: 0.7;
  padding-left: 30px;
}

.disabled {
  color: var(--color-border);
}

.required {
  padding-top: 5px;
  margin: 0 5px;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: end;
}
